@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap");
#container {
  margin: auto;
  text-align: center;
  width: fit-content;
  height: 200px;
  border-radius: 20px;
  font-family: "Lora", serif;
  color: purple;
  background-color: ghostwhite;
}
#buttonsection {
  margin: auto 30px;
  margin-top: 20px;
  display: flex;
}
#Addbtn {
  border-radius: 5px;
  width: 100px;
  margin-left: 10px;
  color: white;
  border: none;
  background-color: dodgerblue;
}
/* #inputcontainer {
  background-color: blueviolet;
} */
